and_chr 90
and_ff 87
and_qq 10.4
android 90
chrome 90
chrome 89
edge 90
edge 89
firefox 88
firefox 87
firefox 78
ios_saf 14.5
ios_saf 14.0-14.4
ios_saf 13.4-13.7
op_mob 62
opera 75
opera 74
safari 14.1
safari 14
samsung 14.0
samsung 13.0
