@import "../../../node_modules/@material/animation/variables";
@import "../../../node_modules/@material/line-ripple/mdc-line-ripple";
@import "../../../node_modules/@material/ripple/common";
@import "../../../node_modules/@material/ripple/mixins";
@import "../../../node_modules/@material/theme/variables";
@import "../../../node_modules/@material/textfield/functions";
@import "../../../node_modules/@material/textfield/mixins";
@import "../../../node_modules/@material/textfield/variables";

.mdc-text-field {
  @include mdc-ripple-surface;
  @include mdc-states-base-color($mdc-text-field-ink-color);
  @include mdc-states-hover-opacity(mdc-states-opacity($mdc-text-field-ink-color, hover));
  @include mdc-states-focus-opacity(mdc-states-opacity($mdc-text-field-ink-color, focus));
  @include mdc-ripple-radius-bounded;

  @include mdc-text-field-shape-radius(small);

  @include mdc-text-field-ink-color($mdc-text-field-ink-color);
  @include mdc-text-field-caret-color(primary);
  @include mdc-text-field-bottom-line-color($mdc-text-field-bottom-line-idle);
  @include mdc-text-field-hover-bottom-line-color($mdc-text-field-bottom-line-hover);
  @include mdc-text-field-line-ripple-color_(primary);
  @include mdc-text-field-fill-color($mdc-text-field-background);

  display: inline-flex;
  position: relative;
  box-sizing: border-box;
  height: $mdc-text-field-height;
  overflow: hidden;
  will-change: opacity, transform, color;
}

.mdc-text-field__input {
  align-self: flex-end;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 20px 16px 6px;
  transition: mdc-text-field-transition(opacity);
  border: none;
  border-bottom: 1px solid;
  border-radius: 0;
  background: none;
  appearance: none;
  &::placeholder {
    transition: mdc-text-field-transition(color);
    opacity: 1;
  }
  &:focus {
    outline: none;
  }
  &:invalid {
    box-shadow: none;
  }
}

.mdc-text-field--focused {
  @include mdc-text-field-focused_;
}
