@use "./components/mixins" as *;

.about {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 13px;
  line-height: 19px;
  text-align: center;
  color: var(--color-text-about);
}
.about_separator {
  margin: 0 4px;
}
.about_version {
  margin-left: 4px;
}
.about_link {
  color: var(--color-text-about);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
