@use "../../node_modules/@material/feature-targeting";
@use "../../node_modules/@material/theme/variables" with ( $secondary: #6200ee );
@use "../../node_modules/@material/card/mixins" as card;
@use "../../node_modules/@material/ripple/mixins" as ripple;
@use "../../node_modules/@material/button/mixins" as button;
@use "../../node_modules/@material/icon-button/mixins" as icon-button;
@use "../../node_modules/@material/tab-bar/mixins" as tab-bar;
@use "../../node_modules/@material/tab-scroller/mixins" as tab-scroller;
@use "../../node_modules/@material/tab-indicator/mixins" as tab-indicator;
@use "../../node_modules/@material/tab/mixins" as tab;
@use "../../node_modules/@material/list/mixins" as list;
@use "../../node_modules/@material/line-ripple/mixins" as line-ripple;
@use "../../node_modules/@material/textfield/mixins" as textfield;  // only use line-ripple, skip others
@use "../../node_modules/@material/form-field/mixins" as form-field;
@use "../../node_modules/@material/radio/mixins" as radio;
@use "./components/mixins" as *;

@import "../../node_modules/@rmwc/tooltip/tooltip";
@include ripple.common(feature-targeting.without(typography));
@include ripple.core-styles(feature-targeting.without(typography));
@include button.core-styles(feature-targeting.without(typography));
@include button.theme-baseline(feature-targeting.without(typography));
@include icon-button.core-styles(feature-targeting.without(typography));
@include tab-bar.core-styles(feature-targeting.without(typography));
@include tab-scroller.core-styles(feature-targeting.without(typography));
@include tab-indicator.core-styles(feature-targeting.without(typography));
@include tab.core-styles(feature-targeting.without(typography));
@include list.core-styles(feature-targeting.without(typography));
@include line-ripple.core-styles(feature-targeting.without(typography));
@include textfield.core-styles(feature-targeting.without(typography));
@include form-field.core-styles(feature-targeting.without(typography));
@include radio.core-styles(feature-targeting.without(typography));

.mdc-ripple-surface {
  cursor: pointer;
}
.mdc-icon-button {
  svg {
    vertical-align: top;
  }
}
.mdc-icon-button--dense {
  @include icon-button.icon-size(15px, 15px, 5px, feature-targeting.without(typography));
}
.mdc-form-field label {
  cursor: pointer;
}

@import "../../node_modules/@rmwc/list/collapsible-list";

body {
  min-width: 1080px;
  overflow-x: auto;
  overflow-y: scroll;
  text-align: center;
  background-color: #f2f2f2;
  cursor: auto;
}

svg {
  fill: currentColor;
  transform: translate3d(0, 0, 0);
}

.app {
  position: relative;
  display: inline-block;
  padding-bottom: 48px;
  font-size: 14px;
  font-family: // TODO: recheck fonts
    Helvetica Neue, Helvetica, Arial,
    PingFang SC, Hiragino Sans GB, Microsoft YaHei, \5FAE\8F6F\96C5\9ED1,
    sans-serif;
  /*line-height: 1.4286;*/
  text-align: initial;
  color: #000000de;
}

.card {
  @include card.fill-color(surface);
  @include card.shape-radius(medium);
  @include elevation(1);
  overflow: hidden;
}

.table {
  line-height: 36px;
  color: #000000de;
  th, td {
    padding-top: 0;
    padding-bottom: 0;
    white-space: nowrap;
  }
  th {
    padding-top: 1px;
    font-weight: normal;
    color: #00000099;
  }
  td {
    border-top: 1px solid #e0e0e0;
  }
  tbody:first-child tr:first-child td {
    border-top: none;
  }
  tbody tr {
    &:hover {
      background-color: #0000000a;
    }
    &.-selected {
      background-color: rgba($primary, .08);
      .app-high-saturation & {
        background-color: rgba($primary, .16);
      }
    }
  }
}

@import "./job-selector";
@import "./slot";
@import "./materia";
@import "./condition";
@import "./summary";
@import "./about";
