@use "./components/mixins" as *;

.condition {
  position: relative;
  margin-top: 10px;
  overflow: visible;
}
.condition_divider {
  display: inline-block;
  margin: 9px 0;
  height: 24px;
  width: 1px;
  background-color: var(--color-divider);
  vertical-align: top;
}
.condition_right {
  float: right;
}
.condition_job {
  display: inline-block;
  padding: 0 12px;
  margin: 4px;
  line-height: 34px;
  border-radius: 4px;
  vertical-align: top;
}
.condition_job-icon {
  width: 20px;
  padding-bottom: 2px;
  margin-left: -2px;
}
.condition_tip {
  display: inline-block;
  margin-top: 5px;
  font-size: 12px;
  line-height: 34px;
  color: rgb(var(--color-text-base), .60);
  text-decoration: none;
  vertical-align: top;
  &:hover {
    text-decoration: underline;
  }
  &.-highlight {
    font-weight: bold;
    color: var(--mdc-theme-error);
  }
}
.condition_level {
  display: inline-block;
  padding-left: 16px;
  line-height: 42px;
  vertical-align: top;
}
.condition_level-value {
  margin-right: 2px;
}
.condition_level-input {
  width: 36px;
  .mdc-text-field__input {
    -moz-appearance: textfield;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

}
.condition_level-separator {
  margin: 0 4px;
}
.condition_button {
  height: 34px;
  min-width: 48px;
  margin: 4px 8px;
  vertical-align: top;
  + .condition_button {
    margin-left: -4px;
  }
}
.condition_text {
  padding: 0 16px;
  line-height: 42px;
  vertical-align: top;
}
.condition_filter {
  margin-left: 6px;
  margin-right: 6px;  // text to divider 16px
}
.condition_setting {
  margin-right: 6px;  // text to divider 16px
}

.condition_level-sync-icon {
  width: 14px;
  vertical-align: -2px;
}

.condition_welcome-promotion {
  position: absolute;
  top: 66px;
  right: 0;
  border-radius: 4px;
  transform: rotate(6deg);
  transform-origin: right 38%;
  transition: box-shadow .1s ease-in-out;
  @include elevation(1);
  &:hover {
    @include elevation(2);
  }
}
