@import "./mixins";

.condition {
  margin-top: 10px;
}
.condition_divider {
  display: inline-block;
  //line-height: 40px;
  padding: 9px 0;
  height: 42px;
  width: 1px;
  background-color: #0000001f;
  background-clip: content-box;
  vertical-align: top;
}
.condition_right {
  float: right;
}
.condition_job {
  display: inline-block;
  padding: 0 12px;
  margin: 4px;
  line-height: 34px;
  border-radius: 4px;
  vertical-align: top;
}
.condition_job-icon {
  width: 20px;
  padding-bottom: 2px;
  margin-left: -2px;
}
.condition_level {
  display: inline-block;
  padding: 0 16px;
  line-height: 42px;
  vertical-align: top;
}
.condition_level-value {
  margin-right: 2px;
}
.condition_level-input {
  width: 36px;
  height: auto;
  & > input {
    padding: 6px 0 2px;
    font-size: 14px;
    text-align: center;
  }
  &:not(.mdc-text-field--disabled) {
    background-color: transparent;
  }
}
.condition_level-separator {
  margin: 0 4px;
}
.condition_version {
  padding: 0 16px;
  line-height: 42px;
}
