@use "./components/mixins" as *;

.condition {
  margin-top: 10px;
}
.condition_divider {
  display: inline-block;
  margin: 9px 0;
  height: 24px;
  width: 1px;
  background-color: #0000001f;
  vertical-align: top;
}
.condition_right {
  float: right;
}
.condition_job {
  display: inline-block;
  padding: 0 12px;
  margin: 4px;
  line-height: 34px;
  border-radius: 4px;
  vertical-align: top;
}
.condition_job-icon {
  width: 20px;
  padding-bottom: 2px;
  margin-left: -2px;
}
.condition_level {
  display: inline-block;
  padding: 0 16px;
  line-height: 42px;
  vertical-align: top;
}
.condition_level-value {
  margin-right: 2px;
}
.condition_level-input {
  width: 36px;
  height: auto;
  & > input {
    padding: 6px 0 3px !important;
    font-size: 14px;
    text-align: center;
  }
  &:not(.mdc-text-field--disabled) {
    background-color: transparent;
  }
}
.condition_level-separator {
  margin: 0 4px;
}
.condition_button {
  height: 34px;
  min-width: 48px;
  margin: 4px 8px;
  vertical-align: top;
  + .condition_button {
    margin-left: -4px;
  }
}
.condition_text {
  padding: 0 16px;
  line-height: 42px;
  vertical-align: top;
}
.condition_setting {
  margin-right: 6px;  // text to divider 16px
}

.condition_level-sync-icon {
  width: 14px;
  vertical-align: -2px;
}
.level-sync {
  @include elevation(4);
  .rmwc-collapsible-list__children {
    transition: none;
  }
}
.level-sync_group {
  font-weight: bold;
}
.level-sync_group-icon {
  width: 24px;
}
.level-sync_levels {
  width: 288px;
  margin: 0 4px;
}
.level-sync_level {
  display: inline-block;
  width: 48px;
  line-height: 36px;
  text-align: center;
  vertical-align: top;
  border-radius: 4px;
  cursor: pointer;
  &.-popular {
    font-weight: bold;
  }
  &.-selected {
    background-color: rgba($primary, .08);
    .app-high-saturation & {
      background-color: rgba($primary, .16);
    }
  }
}
.level-sync_job-level-sync {
  @extend .level-sync_level;
  float: right;
  width: auto;
  padding: 0 12px;
}
.level-sync_cancel {
  margin: 5px 8px 0;
}

.materia-overall {
  @include elevation(4);
}
.materia-overall_tabbar {
  border-bottom: 1px solid #0000001f;
  .mdc-tab-bar {
    width: 200px;
  }
  .mdc-tab {
    padding: 0 12px;
    height: 40px;
  }
}
.materia-consumption {
  text-align: center;
  th {
    width: 72px;
    color: inherit;
  }
}
.materia-consumption_empty {
  color: #00000060;
}
.materia-consumption_tip {
  line-height: 20px;
  text-align: left;
  .table tbody &:hover {
    background: none;
  }
  td {
    padding: 8px 16px;
  }
}
.materia-consumption_tool-copies {
  font-weight: bold;
}

.share {
  min-width: 300px;
  padding: 16px;
  line-height: 20px;
  @include elevation(4);
}
.share_url {
  display: block;
  font-size: 12px;
  color: $primary;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
.share_tip {
  margin-top: 4px;
  margin-bottom: -2px;
  font-size: 12px;
  font-style: italic;
}
.share_copy {
  position: absolute;
  bottom: 8px;
  right: 8px;
  height: 34px;
}

.import {
  padding: 16px;
  line-height: 20px;
  @include elevation(4);
}
.import_title {
  font-weight: bold;
}
.import_bookmarklet {
  display: block;
  text-align: center;
  margin: 8px 0;
  padding: 8px;
  color: $primary;
  text-decoration: none;
  border: 1px dashed #6200ee99;
  border-radius: 4px;
  &:hover {
    text-decoration: underline;
  }
}
.import_warn {
  margin-top: 4px;
  font-weight: bold;
  color: #721c24;
}

.setting {
  min-width: 500px;
  padding: 8px 16px 10px;
  line-height: 20px;
  @include elevation(4);
}
.setting_section {
  margin-top: 8px;
}
.setting_title {
  font-weight: bold;
}
.setting_sub {
  margin-left: 6px;
  font-size: 12px;
  line-height: 1;
  vertical-align: -1px;
  color: #00000099;
}
.setting_controls {
  margin-left: -9px;
  > .mdc-form-field {
    margin-right: 20px;
  }
}
