@use "./components/mixins" as *;

.gear-menu {
  padding: 9px 0;
  @include elevation(4);
}

.gear-menu_item {
  display: block;
  padding-left: 16px;
  padding-right: 32px;
  line-height: 32px;
  color: inherit;
  text-decoration: none;
}
.gear-menu_divider {
  height: 1px;
  margin: 8px 0;
  background-color: var(--color-divider);
  &:first-child,
  &:last-child,
  & + & {
    display: none;
  }
}
.gear-menu_external {
  height: 1em;
  fill: currentColor;
  vertical-align: -2px;
  opacity: .75;
}
