@use "./components/mixins" as *;

.job-selector {
  position: relative;
  margin-left: 3px;
}
.job-selector_column {
  position: relative;
  display: inline-block;
  width: 160px;
  padding: 6px 16px 24px;
  vertical-align: top;
}
.job-selector_group {
  line-height: 34px;
  &:not(:first-child) {
    margin-top: 16px;
  }
}
.job-selector_group-name {
  padding-left: 16px;
  font-weight: bold;
}
.job-selector_item {
  display: block;
  padding-left: 16px;
  font-size: 14px;
  color: inherit;
  text-decoration: none;
  border-radius: 4px;
}
.job-selector_icon {
  height: 18px;
  margin-left: 1px;
  vertical-align: -4px;
}
.job-selector_background-icon {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 380px;
  height: 391px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
  color: var(--mdc-theme-primary);
  opacity: 0.08;
  pointer-events: none;
  > svg {
    width: 480px;
  }
}

.job-select-panel {
  min-width: 810px;
  padding-top: 16px;
  @include elevation(4);
}
.job-select-panel_tip {
  position: absolute;
  bottom: 13px;
  right: 18px;
  line-height: 1;
  font-style: italic;
  color: rgb(var(--color-text-base), .60);
}
