@use "./components/mixins" as *;

.materias {
  @include elevation(4);
  tbody tr:hover {
    background-color: transparent;
  }
  td {
    padding: 0 12px;
    &:first-child {
      padding-left: 16px;
    }
    &:last-child {
      padding-right: 16px;
    }
    //border-right: $table-border;
  }
}
.materias_stat-name {
  text-align: center;
  border-right: $table-border;
}
.materias_row {
  &.-invalid {
    color: rgba(#000000, .20);
  }
}
.materias_grade,
.materias_remove {
  cursor: pointer;
  text-align: center;
  &:hover {
    background-color: #0000000a;
  }
  &:active {
    background-color: #0000001a;
  }
  &.-selected {
    background-color: rgba($primary, .08);
    .app-high-saturation & {
      background-color: rgba($primary, .16);
    }
  }
}
td.materias_meldable {
  text-align: right;
  padding-right: 0;
  min-width: 40px;
  &.-overflowed {
    color: #dc3545;
    font-weight: bold;
  }
}
.materias_meldable-title {
  text-align: center;
  border-right: $table-border;
}
