@use "./components/mixins" as *;

.materias {
  @include elevation(4);
  tbody tr:hover {
    background-color: transparent;
  }
  td {
    padding: 0 12px;
    &:first-child {
      padding-left: 16px;
    }
    &:last-child {
      padding-right: 16px;
    }
  }
}
.materias_stat-name {
  text-align: center;
  border-right: 1px solid var(--color-divider);
}
.materias_row {
  &.-invalid {
    color: rgb(var(--color-text-base), .20);
  }
}
.materias_grade,
.materias_remove,
.materias_show-all {
  cursor: pointer;
  text-align: center;
  &:hover {
    background-color: rgb(var(--color-text-base), .06);
  }
  &:active {
    background-color: rgb(var(--color-text-base), .102);
  }
  &.-selected {
    background-color: var(--color-selected-bg);
  }
}
.materias_show-all {
  border-left: 1px solid var(--color-divider);
  svg {
    height: 17px;
    margin-right: -2px;
    fill: currentColor;
    vertical-align: -3px;
    opacity: .77;
  }
}
td.materias_meldable {
  text-align: right;
  padding-right: 0;
  min-width: 40px;
  &.-overflowed {
    color: #dc3545;
    font-weight: bold;
  }
}
.materias_meldable-title {
  text-align: center;
  border-right: 1px solid var(--color-divider);
}
