@use "./components/mixins" as *;

.materia-overall {
  overflow: visible;
  @include elevation(4);
}
.materia-overall_tabbar {
  border-bottom: 1px solid var(--color-divider);
  .mdc-tab {
    padding: 0 12px;
    height: 40px;
    flex-grow: 0;
    &:first-child > .mdc-tab__ripple {
      border-top-left-radius: 4px;
    }
  }
  .mdc-tab__content {
    padding-top: 2px;
  }
  .mdc-tab__text-label {
    position: relative;
  }
}
.materia-overall_badge {
  top: -3px;
  right: -8px;
  min-width: 8px;
  height: 8px;
  padding: 0;
  transform: none;
}

.materia-consumption {
  text-align: center;
  th {
    width: 72px;
    color: inherit;
  }
  th:first-child,
  td:first-child {
    padding-left: 15px;
    padding-right: 8px;
    text-align: left;
  }
}
.materia-consumption_empty {
  td:first-child {
    padding: 0;
    text-align: center;
    color: rgb(var(--color-text-base), .377);
  }
}
.materia-consumption_tip {
  line-height: 20px;
  .table tbody &:hover {
    background: none;
  }
  td {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}
.materia-consumption_tool-duplicates {
  font-weight: bold;
  line-height: 24px;
  &.-disabled {
    text-decoration: line-through;
  }
}
.materia-consumption_tool-duplicates-switch {
  margin-left: 6px;
  vertical-align: -2px;
}

.materia-det-dht-optimization {
  width: 360px;
}
.materia-det-dht-optimization_introduce {
  padding: 9px 16px 4px;
  line-height: 20px;
  border-bottom: 1px solid var(--color-divider);
  p {
    margin-top: 0;
    margin-bottom: 5px;
  }
}
.materia-det-dht-optimization_solutions {
  width: 100%;
  td {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.materia-det-dht-optimization_use-solution {
  height: 32px;
  margin-left: -7px;
  vertical-align: baseline;
}
.materia-det-dht-optimization_tip {
  border-top: 1px solid var(--color-divider);
  padding: 12px 16px 14px;
}
