@use "./components/mixins" as *;

.materias {
  @include elevation(4);
  tbody tr:hover {
    background-color: transparent;
  }
  td {
    padding: 0 12px;
    &:first-child {
      padding-left: 16px;
    }
    &:last-child {
      padding-right: 16px;
    }
    //border-right: $table-border;
  }
}
.materias_stat-name {
  text-align: center;
  border-right: $table-border;
}
.materias_row {
  &.-invalid {
    color: var(--color-text-invalid);
  }
}
.materias_grade,
.materias_remove,
.materias_show-all {
  cursor: pointer;
  text-align: center;
  &:hover {
    background-color: var(--color-material-hover);
  }
  &:active {
    background-color: var(--color-material-active);
  }
  &.-selected {
    background-color: rgba($primary, .08);
    .theme-light--highSaturation & {
      background-color: rgba($primary, .16);
    }
  }
}
.materias_show-all {
  border-left: $table-border;
  svg {
    height: 17px;
    margin-right: -2px;
    fill: currentColor;
    vertical-align: -3px;
    opacity: .77;
  }
}
td.materias_meldable {
  text-align: right;
  padding-right: 0;
  min-width: 40px;
  &.-overflowed {
    color: #dc3545;
    font-weight: bold;
  }
}
.materias_meldable-title {
  text-align: center;
  border-right: $table-border;
}
