@use "./components/mixins" as *;

.materia-overall {
  overflow: visible;
  @include elevation(4);
}
.materia-overall_tabbar {
  border-bottom: 1px solid #0000001f;
  .mdc-tab-bar {
    width: 200px;
  }
  .mdc-tab {
    padding: 0 12px;
    height: 40px;
  }
}
.materia-consumption {
  text-align: center;
  th {
    width: 72px;
    color: inherit;
  }
}
.materia-consumption_empty {
  color: #00000060;
}
.materia-consumption_tip {
  line-height: 20px;
  text-align: left;
  .table tbody &:hover {
    background: none;
  }
  td {
    padding: 8px 16px;
  }
}
.materia-consumption_tool-duplicates {
  font-weight: bold;
  line-height: 24px;
  &.-disabled {
    text-decoration: line-through;
  }
}
.materia-consumption_tool-duplicates-switch {
  margin-left: 6px;
  vertical-align: -2px;
}
