@use "./components/mixins" as *;

.gears_slot {
  margin-top: 10px;
  margin-bottom: 10px;
}
.gears_item {
  .app-edit &[data-id] {
    cursor: pointer;
  }
  &.-group-end + & td {
    border-top-width: 4px;
    border-top-color: var(--color-bg);
  }
}
.gears_inline-slot {
  margin-right: 6px;
  font-weight: bold;
  font-size: 13px;
  line-height: 1;
}
.gears_left {
  width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  @at-root th#{&} {
    font-weight: bold;
    text-align: left;
    color: var(--color-text);
  }
}
.gears_name {
  display: inline-block;
  max-width: 230px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
  .app-view & {
    max-width: 198px;
  }
  .gears_color-red & {
    color: var(--color-gear-red);
  }
  .gears_color-green & {
    color: var(--color-gear-green);
  }
  .gears_color-blue & {
    color: var(--color-gear-blue);
  }
  .gears_color-purple & {
    color: var(--color-gear-purple);
  }
}
.gears_hq {
  width: 12px;
  vertical-align: -1px;
  //fill: var(--color-bg-fill);
}
.gears_patch {
  color: var(--color-text-patch);
  margin-left: 4px;
  font-size: 12px;
  line-height: 1;
}
.gears_level {
  float: right;
  margin-left: 12px;
  line-height: 34px;
  margin-top: 2px;
  font-size: 12px;
  color: var(--color-text-il);
}
.gears_more {
  float: right;
  margin: 6px -10px 0 4px;
  fill: var(--color-bg-fill);
}

.gears_toogle-all-foods {
  float: right;
  height: 29px;
  margin-top: 4px;
  margin-right: -11px;
  font-size: 12px;
}

.gears_materias {
  position: relative;
  z-index: 0;
  width: 277px;
  padding-left: 13px;
  padding-right: 13px;
  border-left: $table-border;
  border-right: $table-border;
}
.gears_materias-synced {
  position: absolute;
  z-index: 2;
  top: 10px;
  left: 0;
  right: 0;
  line-height: 1;
  text-align: center;
  pointer-events: none;
  > svg {
    width: 16px;
    color: var(--color-text-stat-sub);
  }
}
.gears_food-utilization {
  margin-left: 4px;
  &.-full {
    font-weight: bold;
  }
}

.gears_stat {
  width: 60px;
  text-align: center;
  &.-skeleton {
    width: 86px;
    white-space: nowrap;
  }
  .gears_item.-food & {
    line-height: 1;
  }
}
.gears_stat-value {
  &.-full {
    font-weight: bold;
  }
  &.-skeleton {
    display: inline-block;
    width: 50%;
    font-weight: bold;
    text-align: right;
    &:last-child {
      margin-right: 50%;
    }
  }
}
.gears_stat-caps {
  display: inline-block;
  width: 50%;
  padding-left: 1px;
  text-align: left;
  font-size: 12px;
  line-height: 1;
  color: var(--color-text-sub);
}
.gears_stat-requirement {
  display: block;
  margin-bottom: -2px;
  font-size: 12px;
  line-height: 8px;
  color: var(--color-text-stat-sub);
  transform: scale(.9);
}
.gears_custom-stat-input {
  width: 36px;
}

.gears_empty {
  color: var(--color-text-il);
}
