@use "./components/mixins" as *;

.gears_slot {
  margin-top: 10px;
  margin-bottom: 10px;
}
.gears_item {
  .app-edit &[data-id] {
    cursor: pointer;
  }
}
.gears_inline-slot {
  margin-right: 6px;
  font-weight: bold;
  font-size: 13px;
  vertical-align: top;
}
.gears_left {
  width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  @at-root th#{&} {
    font-weight: bold;
    text-align: left;
    color: #000000de;
  }
}
.gears_name {
  display: inline-block;
  max-width: 230px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
  .app-view & {
    max-width: 198px;
  }
  .gears_color-red & {
    color: #721c24;
    .app-high-saturation & {
      color: #9c0010;
    }
  }
  .gears_color-green & {
    color: #155724;
    .app-high-saturation & {
      color: #007a2b;
    }
  }
  .gears_color-blue & {
    color: #003085;
    .app-high-saturation & {
      color: #003899;
    }
  }
  .gears_color-purple & {
    color: #36037c;
    .app-high-saturation & {
      color: #3e0094;
    }
  }
}
.gears_hq {
  width: 12px;
  vertical-align: -1px;
  //fill: rgba(0, 0, 0, .77);
}
.gears_patch {
  color: rgba(0, 0, 0, 0.37647);
  margin-left: 4px;
  font-size: 12px;
  line-height: 1;
}
.gears_level {
  float: right;
  margin-left: 12px;
  line-height: 34px;
  margin-top: 2px;
  font-size: 12px;
  color: #00000060;
}
.gears_more {
  float: right;
  margin: 6px -10px 0 4px;
  fill: rgba(0, 0, 0, .77);
}

.gears_toogle-all-foods {
  float: right;
  height: 29px;
  margin-top: 4px;
  margin-right: -11px;
  font-size: 12px;
}

.gears_materias {
  position: relative;
  z-index: 0;
  width: 277px;
  padding-left: 13px;
  padding-right: 13px;
  border-left: $table-border;
  border-right: $table-border;
}
.gears_materias-synced {
  position: absolute;
  z-index: 2;
  top: 10px;
  left: 0;
  right: 0;
  line-height: 1;
  text-align: center;
  pointer-events: none;
  > svg {
    width: 16px;
    color: #00000099;
  }
}
.gears_food-utilization {
  margin-left: 4px;
  &.-full {
    font-weight: bold;
  }
}

.gears_stat {
  width: 60px;
  text-align: center;
  &.-skeleton {
    width: 86px;
    white-space: nowrap;
  }
  .gears_item.-food & {
    line-height: 1;
  }
}
.gears_stat-value {
  &.-full {
    font-weight: bold;
  }
  &.-skeleton {
    display: inline-block;
    width: 50%;
    font-weight: bold;
    text-align: right;
    &:last-child {
      margin-right: 50%;
    }
  }
}
.gears_stat-caps {
  display: inline-block;
  width: 50%;
  padding-left: 1px;
  text-align: left;
  font-size: 12px;
  line-height: 1;
  color: #00000099;
}
.gears_stat-requirement {
  display: block;
  margin-bottom: -2px;
  font-size: 12px;
  line-height: 8px;
  color: rgba(0, 0, 0, .54);
  transform: scale(.9);
}
.gears_empty {
  color: #00000060;
}

.gear-menu {
  padding: 9px 0;
  @include elevation(4);
}

.gear-menu_item {
  display: block;
  padding: 0 16px;
  line-height: 32px;
  color: inherit;
  text-decoration: none;
}
.gear-menu_divider {
  height: 1px;
  margin: 8px 0;
  background-color: #0000001f;
  &:first-child,
  &:last-child,
  & + & {
    display: none;
  }
}
.gear-menu_external {
  height: 1em;
  fill: currentColor;
  vertical-align: -2px;
  opacity: .75;
}
