@import "./mixins";

.summary {
  @include mdc-elevation(4);
  position: fixed;
  bottom: 0;
  padding: 0 12px;
  margin-left: -12px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  > span {
    display: inline-block;
    vertical-align: top;
  }
}

.summary_divider {
  display: none;
  + * {
    border-left: $table-border;
  }
}

.summary_left {
  width: 547px;
}

.summary_damage {
  float: right;
  width: 120px;
}

.summary_stat {
  width: 60px;
  padding-top: 9px;
  padding-bottom: 4px;
  line-height: 18px;
  text-align: center;
}
.summary_stat-name {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.65);
}
.summary_stat-effect {
  font-size: 12px;
  white-space: nowrap;
}
.summary_stat-small {
  display: inline-block;
  margin: 0 -2px;
  transform: scale(.83) translateY(1px);
}
