@import "./mixins";

.summary {
  position: relative;
  margin-top: 10px;
  padding: 16px 0;
}
.summary_race {
  position: absolute;
  top: 16px;
  right: 16px;
  line-height: 24px;
}
.summary_stat {
  padding: 0 16px;
  line-height: 24px;
  &:not(:last-child) {
    margin-bottom: 8px;
  }
}
.summary_stat-name {
  font-weight: bold;
}
.summary_stat-value {
  //display: inline-block;
  //white-space: nowrap;
  //width: 40px;
  //font-weight: bold;
}
.summary_stat-effect {
  color: #00000099;
  i:before {
    content: "/";
    margin: 0 8px;
    font-style: normal;
  }
}
