@import "./mixins";

.summary {
  display: flex;
  align-items: flex-end;
  .app-edit & {
    position: fixed;
    bottom: 0;
    padding: 0 12px;
    margin-left: -12px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    @include mdc-elevation(4);
  }
  .app-view & > span:not(.summary_divider) {
    margin-top: -2px;
    margin-bottom: 2px;
  }
}

.summary_divider {
  align-self: stretch;
  border-left: $table-border;
  margin-right: -1px;
}

.summary_left {
  position: relative;
  width: 320px;
  height: 49px;
}
.summary_middle {
  position: relative;
  width: 247px;
}

.summary_clan {
  position: absolute;
  left: 4px;
  bottom: 5px;
  height: 35px;
  padding: 0 12px;
}

.summary_equipped-level {
  position: absolute;
  left: 260px;
  bottom: 0;
  font-size: 12px;
  line-height: 44px;
  color: #00000060;
}

.summary_tiers-toggle {
  position: absolute;
  left: 10px;
  bottom: 5px;
  height: 35px;
}

.summary_stat {
  width: 60px;
  padding-top: 9px;
  padding-bottom: 4px;
  line-height: 18px;
  text-align: center;
}
.summary_stat-tier {
  margin-top: 2px;
  font-size: 12px;
  line-height: 14px;
}
.summary_stat-prev,
.summary_stat-next {
  display: inline-block;
  width: 21px;
  vertical-align: top;
  white-space: nowrap;
}
.summary_stat-prev {
  text-align: left;
}
.summary_stat-next {
  text-align: right;
}
.summary_stat-name {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.65);
}
.summary_stat-effect {
  font-size: 12px;
  white-space: nowrap;
}
.summary_stat-small {
  display: inline-block;
  margin: 0 -2px;
  transform: scale(.83) translateY(1px);
}
.app-view .summary_stat:last-child .summary_stat-effect-hp {
  transform: translateX(-4px);
}

.summary_damage {
  float: right;
  width: 120px;
}

.clan {
  padding: 8px;
  @include mdc-elevation(8);
}
.clan_race {
  text-align: right;
  font-weight: bold;
  padding: 0 8px;
}
.clan_item {
  padding: 0 8px;
  line-height: 34px;
  text-align: center;
  vertical-align: top;
  border-radius: 4px;
  td:not(:first-child) > & {
    margin-left: -2px;
  }
}
