@import "./mixins";

.title {
  margin-top: 10px;
  padding: 16px;
}
.title_text {
  margin-bottom: 2px;
  font-size: 22px;
  font-weight: bold;
  line-height: 32px;
}
.title_version {
  color: #00000080;
}
.title_separator {
  margin: 0 4px;
}
.title_link {
  display: inline-block;
  padding: 4px;
  margin: -4px;
  color: #00000080;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
