
.badge-button {
  .mdc-button__label {
    position: relative;
  }
}
.badge-button_badge {
  top: -3px;
  right: -8px;
  min-width: 8px;
  height: 8px;
  padding: 0;
  transform: none;
}
.rmwc-badge--exited {
  transform: scale(0);
}
