@use "sass:meta";
@use "../@material/theme/theme-color" with ( $secondary: #6200ee );
@use "../@material/ripple/ripple" as ripple;
@use "../@material/button/button" as button;
@use "../@material/icon-button/icon-button" as icon-button;
@use "../@material/icon-button/icon-button-theme" as icon-button-theme;
@use "../@material/linear-progress/linear-progress" as linear-progress;
@use "../@material/tab-bar/mixins" as tab-bar;
@use "../@material/tab-scroller/mixins" as tab-scroller;
@use "../@material/tab-indicator/mixins" as tab-indicator;
@use "../@material/tab/mixins" as tab;
@use "../@material/list/mixins" as list;
@use "../@material/line-ripple/line-ripple" as line-ripple;
@use "../@material/textfield/text-field" as textfield;  // only use line-ripple, skip others
@use "../@material/form-field/form-field" as form-field;
@use "../@material/radio/radio" as radio;
@use "../@material/switch/mixins" as switch;

@include ripple.common;
@include ripple.core-styles;
@include button.core-styles;
@include icon-button.core-styles;
@include linear-progress.core-styles;
@include tab-bar.core-styles;
@include tab-scroller.core-styles;
@include tab-indicator.core-styles;
@include tab.core-styles;
@include list.deprecated-core-styles;
@include line-ripple.core-styles;
@include textfield.core-styles;
@include form-field.core-styles;
@include radio.core-styles;
@include switch.core-styles;
@include meta.load-css("../@rmwc/list/collapsible-list");
@include meta.load-css("../@rmwc/badge/badge");
@include meta.load-css("./microtip");

.mdc-ripple-surface {
  cursor: pointer;
  &::before, &::after {
    z-index: 1;
  }
}

.mdc-button {
  font-weight: normal;
  user-select: auto;
}
.mdc-icon-button {
  svg {
    vertical-align: top;
  }
}
.mdc-icon-button--dense {
  @include icon-button-theme.icon-size(15px, 15px, 5px);
}

.mdc-form-field label {
  cursor: pointer;
}
.mdc-text-field--compact {
  height: 24px;
  padding: 0;
  line-height: 24px;
  & > input {
    padding: 5px 0 3px !important;
    font-size: 14px;
    text-align: center;
  }
  &:not(.mdc-text-field--disabled) {
    background-color: transparent;
    .mdc-text-field__input {
      color: inherit;
    }
  }
}
